<% if flash[:notice] %>
    <div id='notice'>
      <%= flash[:notice] %>
    </div>
  <% end %>


<h1>Your Links</h1>
<h2> Welcome <%= @current_user%></h2>
<ul id='links'>
<% @links.each do |link|%>
  <li>
    Title: <%= link.title %>
    URL: <%= link.url %>
  </li>
  <%end%>
</ul>
<form action="/log_out" method='post'>
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='Log out'>
</form>
<a href="/links/new"><button>Add a New Link</button></a>